*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow: hidden;
}

a,
a:visited,
a:link,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

.svg-list{
  display: none;
}

button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

input {
  -webkit-appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
}

::selection {
  background-color: #ffc066;
  color: #469cff;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000000;
}

.fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.screen, .tablet {
  display: none;
}

.tablet {
  background: url(../img/gradient.png) no-repeat;
  background-size: cover;
}

.screen {
  background-color: #000;

  video {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: auto;
    transform: translate(-50%, -50%);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    z-index: 2;
  }

  .partner-text {
    z-index: 3;
    font-family: 'Reklame Script', sans-serif;
    color: #FFF;
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-3deg);
  }
}
