.tablet {

  .pastille-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    width: 800px;
    margin: 0 auto;
    z-index: 1;
    padding-top: 60px;

    .pastille {
      position: relative;
      width: 280px;
      height: 300px;
      text-align: center;
      margin: 0 30px 20px;

      .text {
        font-family: 'Blogger Sans', sans-serif;
        text-transform: uppercase;
        font-size: 25px;
        color: #FFF;
        white-space: nowrap;
      }

      .background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 280px;
        background-size: cover !important;
      }

      .upper-element {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 280px;
        background-size: 120px 120px !important;
        background-position-x: center !important;
        background-position-y: center !important;
        z-index: 2;
        pointer-events: none;
        transform-origin: 50% 50%;
      }

      &.position {
        .background {
          background: url(../img/position-background.png) no-repeat;
        }

        .upper-element {
          background: url(../img/position-upper.png) no-repeat;
        }
      }

      &.sweet-words {
        .background {
          background: url(../img/mots-doux-background.png) no-repeat;
        }

        .upper-element {
          background: url(../img/mots-doux-upper.png) no-repeat;
        }
      }

      &.caress {
        .background {
          background: url(../img/caresse-background.png) no-repeat;
        }

        .upper-element {
          background: url(../img/caresse-upper.png) no-repeat;
        }
      }

      &.speed {
        .background {
          background: url(../img/vitesse-background.png) no-repeat;
        }

        .upper-element {
          background: url(../img/vitesse-upper.png) no-repeat;
        }
      }
    }
  }

  .bubbles div {
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    z-index: 0;

    &:nth-child(1) {
      background: url(../img/bubble-1.png);
      width: 165px;
      height: 157px;
    }

    &:nth-child(2) {
      background: url(../img/bubble-2.png);
      width: 285px;
      height: 205px;
    }

    &:nth-child(3) {
      background: url(../img/bubble-3.png);
      width: 241px;
      height: 202px;
    }
  }

}
